@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Share+Tech+Mono&family=VT323&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-vt323: "VT323", monospace;
  --font-pixelify: "Pixelify Sans", sans-serif;
  --font-sharetech: "Share Tech Mono", monospace;
  --breakpoint-3xl: 120rem;
  --color-darkText: #FDFFD6;
  --color-darkPrimary: #0B010A;
  --color-darkSecondary: #2B164D;
  --color-darkAccent: #60457E;
  --color-darkBorder: #4E024B;
  --color-darkDetail: #8B2661;
  --color-darkWarning: #C9320C;
  --color-darkSuccess: #367814;
  --color-darkLink: #90D5F0;
  --color-lightText: #37382A;
  --color-lightPrimary: #F2F2F2;
  --color-lightSecondary: #A6968D;
  --color-lightAccent: #BF9393;
  --color-lightBorder: #D9C1BF;
  --color-lightDetail: #D9C6BA;
  --color-lightWarning: #D44C4C;
  --color-lightSuccess: #BDF5A2;
  --color-lightLink: #55B0D4;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}


/* Scrollbar base (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: transparent; /* o var(--color-primary) */
}

/* Barra deslizable */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500 aprox */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.8);
}

/* Eliminar flechas */
::-webkit-scrollbar-button {
  display: none;
}

