DB_NAME=campus
DB_USER=postgres
DB_PASS=1234
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=
PORT=3000
APP_URL=http://localhost:3000
SECRET=your_jwt_secret
GOOGLE_CLIENT_ID=your_google_client_id
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=your_email_password
DB_SSL_MODE=disable
DB_SYNC_MODE=none
OPENROUTER_API_KEY=your_openRouter_api_key
